.profile-image {
    height: 300px;
    object-fit: cover;
    filter: brightness(50%);
}
.r-navbar{
    background-color: whitesmoke;
}
.profile-title{
    color: white;
}
.mains{
    background-color: whitesmoke;
}
.menu-container{
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.menu-item{
    width: 400px;
    height: 410px;
    margin: 1.5rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
}

.front-page{
    background-color: red;
    height: 600px;
}

.front-container{
  
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    border-radius: 25px;

    
}
.front-container div{
    width: 350px;
    height: 200px;
    
}

.fbutton{
    margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50px;
  width: 90px;
}
.item-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}